venv*
cache_dir
runs
.idea
/outputs/models/bert/*
!/outputs/models/bert/bert_model_placeholder.txt
**/__pycache__
*.ipynb

!src/usecase_analysis/conformance.ipynb
!src/classification/inspection.ipynb
!src/usecase_analysis/abstraction.ipynb

inputs/logs/*
!inputs/logs/place_logs_here.txt
outputs/preprocessing/*
!outputs/preprocessing/augmented_logs/augmented_logs_placeholder.txt
!outputs/preprocessing/preprocessed_logs/preprocessed_logs_placeholder.txt
!outputs/preprocessing/features/features_placeholder.txt